    /* Top bar styles */
#topbar {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

#topbar img {
  max-height: 50px;
}

#topbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#topbar a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 36px;
}

p {
      text-align: justify;
      font-size: 24px;
      line-height: 1.5;
      margin: 20px;
      padding: 10px;
    }

.column {
  float: left;
  width: 50%;
}